.form {
  display: flex;
  flex-direction: column; // เรียง form element ในแนวตั้ง
  > * {
    // select all descendant
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}
